{% extends "base.j2" %}
{% block merchant_statement %}
The cardholder's claim that merchandise was not received is contradicted by
confirmed delivery and proof of delivery on file. We respectfully request
this dispute be resolved in the merchant's favor.
{% endblock %}
